@model Guilherme04.Models.Product

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "Registering a New Product";
}

    
    @using (Html.BeginForm())

    {
        @Html.AntiForgeryToken()

     <div class="panel panel-primary">
         <div class="panel-heading">
             Registering of new Product
         </div>
         <div class="panel-body">
             <div class="form-horizontal">
                 @Html.ValidationSummary(true, "", new { @class = "text-denger" })
                 <div class="form-group">
                 @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            </div>
         <div class="form-group">
             @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-10">
                 @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
             </div>
         </div>
                 <div class="form-group">
                     @Html.LabelFor(model => model.SupplierId, "SupplierId", htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-10">
                         @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control" })
                         @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                     </div>
                 </div>
             </div>
             <div class="panel-footer panel-info">
                 <div class="col-md-offset-2 col-md-10">
                     <input type="submit" value="ADD Product" class="btn btn-danger" />
                     @Html.ActionLink("Return Of List Product", "Index", null, new { @class = "btn btn-warning" })
                 </div>
                 <br />
                 <br />
             </div>
         </div>
     </div>
    }
    @section ScriptPage{
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('li').removeClass("active");
                $('#liProducts').addClass("active");
            });

        </script>
       
        }